

#outline {
    border: 1px solid grey;
  }

.title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#timeNow{
    width: 340px;
    height: 40px;
    border-radius: 5px;
    color: black
  }


.past{
  background-color: grey;
}

.present {
  background-color: green;
}

.future{
  background-color: yellow;
}